node_modules

Dockerfile
docker-compose.yml

# Tests
packages/**/test
packages/**/lib

# Other / artifacts
**/.nyc_output
**/coverage
**/node_modules
**/test
**/lib
**/.tmp
**/dist
*.log
**/*.log
.idea
.tmp

.env