.env
package.lock
node_modules
.nyc
dist
.nyc_output
packages/alto/lib
**/.nyc_output
test/spec-tests/bundler-spec-tests
test/build
.DS_Store
tsconfig.*.tsbuildinfo
tsconfig.tsbuildinfo

.nx/cache
.vscode/
.sentryclirc
