CONFLUX_ESPACE_TESTNET_RPC_URL=https://<your-conflux-espace-testnet-rpc>
CONFLUX_ESPACE_TESTNET_SEND_TRANSACTION_RPC_URL=
CONFLUX_ESPACE_TESTNET_BUNDLER_PRIVATE_KEY=
CONFLUX_ESPACE_TESTNET_EXECUTOR_PRIVATE_KEYS=
CONFLUX_ESPACE_TESTNET_OWNER_PRIVATE_KEY=
CONFLUX_ESPACE_TESTNET_PORT=4337
CONFLUX_ESPACE_TESTNET_BLOCK_TIME_MS=1000
CONFLUX_ESPACE_TESTNET_LOG_LEVEL=debug
CONFLUX_ESPACE_TESTNET_SAFE_MODE=false
CONFLUX_ESPACE_TESTNET_BALANCE_OVERRIDE=false
CONFLUX_ESPACE_TESTNET_CODE_OVERRIDE_SUPPORT=false
