name: Run E2E Tests

on:
  push:
    branches:
    - kinto-production
  pull_request:
    branches:
    - kinto-production

jobs:
  docker:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Start tests
      run: docker-compose -f "test/e2e/docker-compose.yml" up --abort-on-container-exit test_suite

    - name: Stop containers
      if: always()
      run: docker-compose -f "test/e2e/docker-compose.yml" down
